---
import Layout from '../layouts/Layout.astro';
import ParquetViewer from '../components/ParquetViewer';
---

<Layout title="Parquet Data Analyzer">
  <main class="container mx-auto p-4">
    <h1 class="text-4xl font-bold mb-6">Parquet Data Analyzer</h1>
    <ParquetViewer client:load />
  </main>
</Layout>
